PORT=5000
FLASK_SECRET_KEY=9f4d2b3c7a8e1f6d0c5b9a2e4f7c1d8a6b3e5f9c2d1a7b4e6f8c0d2a1b3e4f5
ALLOW_REMOTE=true

SSL_VERIFY=false
REQUEST_TIMEOUT=8
REQUEST_RETRY=1
PROCESS_TTL_SECONDS=1800

GUNICORN_WORKERS=1
GUNICORN_THREADS=2
GUNICORN_TIMEOUT=60