PORT=5000
FLASK_SECRET_KEY=change-this-in-production
SSL_VERIFY=false
ALLOW_REMOTE=true
REQUEST_TIMEOUT=8
REQUEST_RETRY=1
PROCESS_TTL_SECONDS=3600
GUNICORN_WORKERS=2
GUNICORN_THREADS=4
GUNICORN_TIMEOUT=60
