PORT=5000
FLASK_SECRET_KEY=
HAILE_TOKEN=
PUSHPLUS_URL=
ALLOW_REMOTE=true
SSL_VERIFY=false
REQUEST_TIMEOUT=8
REQUEST_RETRY=1
ORDER_DETAIL_SYNC_DELAY_MS=800
PROCESS_TTL_SECONDS=1800
DEFAULT_LEAD_MINUTES=60
SCHEDULER_INTERVAL_SECONDS=30
DEFAULT_LNG=113.999622
DEFAULT_LAT=22.596488

GUNICORN_WORKERS=1
GUNICORN_THREADS=2
GUNICORN_TIMEOUT=60
